body
{
  
   
}
.container
{
    width: 100%;
    height: 100%;
    border: 0;
    background-color: rgb(245, 245, 245);   
}

.centerContainer
{
    width: 1024px;
    height: 964px;
  background-color: white;
  margin: 0 auto;
  margin-top: 80px;
 -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3);
-moz-box-shadow: 0 0 6px rgba(0,0,0,0.3);
box-shadow: 0 0 6px rgba(0,0,0,0.3);
   
}
.topNav
{
    margin: 0 auto;
    width: 100%;
    height: 100px;
}

.topNav .logo
{
     
    background-repeat:no-repeat;
    float: left;
    position: absolute;
    width: 320px;
    height: 60px;
    margin: 50px;
   
    
}
.topNav .logo img
{
    float: left;
}
.topNav .logo p
{
    font-family: Arial;
    float: right;
    font-size: large;
}
.topNav .searchBox
{
    float: right;
    margin: 65px;
}
.underTopNav {
    margin-top: 75px;
    margin-left: 50px;
    }
.centerBoxContainer
{

    height: 800px;
   
    width: 97%;
    margin: 0 auto;
    margin-top: 15px;
}
.infoBox
{
    float: left;
    width: 219px;
    height: 40px;
    margin-bottom: 2px;
    margin-left: 35px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
   
}
.infoBox .label
{
    margin: 10px;
    background-color: rgb(151, 151, 151);
           
}
.infoBox .label .dialogCount
{
     border: 1px solid #e5e5e5;
}
.numComments {
    font-weight: bold;
    float: right;
    margin: 8px;
}
.alert {
    display: none;
    width: 400px;
    float: right;
    margin-top: -9px;
}
.progress {
    float: right;
    width: 728px;
}
.accordion
{
    display: none;
    float: right;
    width: 958px;
margin-top: 14px;
    overflow-y: auto;
    height:670px;
}
.accordion a
{
   color:  rgb(15, 15, 15);
}
.accordion img
{

    margin-top:5px;
    margin-right: 10px;
    float: right;
    width: 26px;
    height: 26px;
}
.accordion-heading .accordion-toggle {
    display: inline-block;
}
.btn btn-big
{
    width: 142px;
    height: 38px;
}

.btn btn-big:hover
{
    background-color: Black
}

.form-wrapper {
        width: 450px;
      border-width: 1px;
      
        border-color: #dedede #bababa #aaa #bababa;
        -moz-box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
        -webkit-box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
        box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background-color: #f6f6f6;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eae8e8));
        background-image: -webkit-linear-gradient(top, #f6f6f6, #eae8e8);
        background-image: -moz-linear-gradient(top, #f6f6f6, #eae8e8);
        background-image: -ms-linear-gradient(top, #f6f6f6, #eae8e8);
        background-image: -o-linear-gradient(top, #f6f6f6, #eae8e8);
        background-image: linear-gradient(top, #f6f6f6, #eae8e8);
}

.form-wrapper #search {
        width: 330px;
        height: 20px;
        padding: 10px 5px;
        float: left;
        font: bold 16px 'lucida sans', 'trebuchet MS', 'Tahoma';
        border: 1px solid #ccc;
        -moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
        -webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
        box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
}

.form-wrapper #search:focus {
        outline: 0;
        border-color: #aaa;
        -moz-box-shadow: 0 1px 1px #bbb inset;
        -webkit-box-shadow: 0 1px 1px #bbb inset;
        box-shadow: 0 1px 1px #bbb inset;
}

.form-wrapper #search::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
}

.form-wrapper #search:-moz-placeholder {
        color: #999;
        font-weight: normal;
}

.form-wrapper #search:-ms-input-placeholder {
        color: #999;
        font-weight: normal;
} 

.form-wrapper #submit {
        float: right;
        border: 1px solid #d99702;
        height: 42px;
        width: 100px;
        padding: 0;
        cursor: pointer;
        font: bold 15px Arial, Helvetica;
        color: #fafafa;
        background-color: #d99702
       ;  
}

.form-wrapper #submit:hover,
.form-wrapper #submit:focus {
        background-color: #cc9009;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#d99702 to(#cc9009));
        background-image: -webkit-linear-gradient(top, #d99702, #cc9009);
        background-image: -moz-linear-gradient(top, #d99702, #cc9009);
        background-image: -ms-linear-gradient(top, #d99702, #cc9009);
        background-image: -o-linear-gradient(top, #d99702, #cc9009);
        background-image: linear-gradient(top, #d99702, #cc9009);
}       

.form-wrapper #submit:active {
        outline: 0;
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

.form-wrapper #submit::-moz-focus-inner {
        border: 0;
}

.toggler 
{ 
    width: 500px; 
    height: 200px; 
}
#effect 
{ 
    width: 240px; 
    height: 135px; 
    padding: 0.4em; 
    position: relative; 
    margin: 20px;
}
#effect h3 
{ 
    margin: 0; 
    padding: 0.4em; 
    text-align: center; 
}

.toggler
{
    float: left;
    width: 200px;
    height: 60px;
}  

.underTopNav nav {
	width: 100%;
	height: 80px;
	background: rgb(230, 230, 230);
	margin-top: 50px;
}

ul {

}

ul li {
	font: 13px Verdana, 'Lucida Grande';
	cursor: pointer;
	-webkit-transition: padding .05s linear;
	-moz-transition: padding .05s linear;
	-ms-transition: padding .05s linear;
	-o-transition: padding .05s linear;
	transition: padding .05s linear;
}
ul li.drop {
	position: relative;
}
ul > li {
	display: inline-block;
}
ul li a {
	line-height: 80px;
	padding: 0 20px;
	height: 80px;
	color: #777;
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
}
ul li a:hover {
	color: #eee;
}

.dropOut .triangle {
	width: 0;
	height: 0;
	position: absolute;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid white;
	top: -8px;
	left: 50%;
	margin-left: -8px;
}
.dropdownContain {
	width: 160px;
	position: absolute;
	z-index: 2;
	left: 50%;
	margin-left: -80px; /* half of width */
	
}
.dropOut {
	width: 160px;
	background: white;
	float: left;
	position: relative;
	margin-top: 0px;
	opacity: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
	box-shadow: 0 1px 6px rgba(0,0,0,.15);
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
}

.dropOut ul {
	float: left;
	padding: 10px 0;
}
.dropOut ul li {
	text-align: left;
	float: left;
	width: 125px;
	padding: 12px 0 10px 15px;
	margin: 0px 10px;
	color: #777;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: background .1s ease-out;
	-moz-transition: background .1s ease-out;
	-ms-transition: background .1s ease-out;
	-o-transition: background .1s ease-out;
	transition: background .1s ease-out;
}
.dropdownContainer:hover 
{
   
}

.dropOut ul li:hover {
	background: #f6f6f6;
	
}

/*ul li:hover a { color: white; }
ul li:hover .dropdownContain { top: 65px; }
ul li:hover .underline { border-bottom-color: #777; }
ul li:hover .dropOut { opacity: 1; margin-top: 18px; }*/

.answer {
    background-color: rgb(234, 251, 255);
}
.origDialog {
    background-color: rgb(230, 230, 230);
}

.loader_back {
    display:none;
	width: 40px;
	height: 40px;
	padding: 10px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	background: rgb(163, 160, 160);
	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
	float: left;
	margin: 10px;
    margin-left: 65px;
}

.loader {
	width: 48px;
	height: 48px;
	
	margin-left: -4px;
    margin-top: -4px;
	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.loader.yellow {
	border-left: 8px solid #CCC366;
	border-top: 8px solid #CCC366;
}

.loader.orange {
	border-left: 8px solid #CC8F66;
	border-top: 8px solid #CC8F66;
}

.loader.red {
	background-image: url('../img/spinner.gif');
}

.loader.pink {
	border-left: 8px solid #CC66C3;
	border-top: 8px solid #CC66C3;	
}

.loader.violet {
	border-left: 8px solid #A366CC;
	border-top: 8px solid #A366CC;	
}

.loader.blue {
	border-left: 8px solid #6670CC;
	border-top: 8px solid #6670CC;	
}

.loader.green {
	border-left: 8px solid #66CC74;
	border-top: 8px solid #66CC74;	
}

@-webkit-keyframes rotate {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotate {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}
@-ms-keyframes rotate {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}
@keyframes rotate {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}